body {
    background-color: (176, 188, 208);
    font-family: sans-serif;
}

body {
    background-color: #03193f;
    font-family: sans-serif;
    margin: 0;
}


h1 {
    color: #fffefc;
    text-align: center;
    margin-top: 20 px;
}


h2 {
    color: #570303;
    margin-bottom: 10 px;
}


.section {
    max-width: 800 px;
    margin: 20 px auto;
    padding: 15 px;
    background-color: (255, 255, 255, 0.9);
    border-radius: 8 px;
}


.photo-row {
    display: flex;
    justify-content: center;
    gap: 20 px;
    flex-wrap: wrap;
}

.photo-row img {
    width: 260 px;        
    height: 180 px;       
    object-fit: cover;   
    border-radius: 8 px;
}



a {
    color: (255, 127, 0, 0.85);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


.section {
    max-width: 800 px;
    margin: 20 px auto;
    padding: 15 px;
    background-color: (255, 255, 255, 0.9);
    border-radius: 8 px;
}

.video-section iframe {
    margin-bottom: 40 px;
}


.framed-video {
    display: block;
    margin: 0 auto 40 px auto;
    border: 3 px solid #193971;
    border-radius: 10 px;
    box-shadow: 0 4 px 8 px (0, 0, 0, 0.15);
}


.frame {
    border: 3 px solid #193971;
    border-radius: 10 px;
    padding: 15 px;
    background-color: #ffffff;
    margin: 20 px auto;
    max-width: 600 px;
    box-shadow: 0 4 px 8 px (0,0,0,0.15);
}


.tableauPlaceholder {
    margin: 0 auto;
}

.tableauPlaceholder object {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.wordle-frame {
    text-align: center;
}

.play-link {
    font-size: 20 px;
    font-weight: bold;
    color: #004cff;
    text-decoration: none;
}

.play-link:hover {
    text-decoration: underline;
}

.video-section iframe {
    display: block;
    margin: 0 auto;
}

