body {
    background-color: rgb(176, 188, 208);
    font-family: sans-serif;
}

body {
    background-color: #03193f;
    font-family: sans-serif;
    margin: 0;
}


h1 {
    color: #fffefc;
    text-align: center;
    margin-top: 20px;
}


h2 {
    color: #570303;
    margin-bottom: 10px;
}


.section {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}


.photo-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.photo-row img {
    width: 260px;        
    height: 180px;       
    object-fit: cover;   
    border-radius: 8px;
}



a {
    color: rgba(255, 127, 0, 0.85);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


.section {
    max-width: 800px;
    margin: 20px auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
}

.video-section iframe {
    margin-bottom: 40px;
}


.framed-video {
    display: block;
    margin: 0 auto 40px auto;
    border: 3px solid #193971;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


.frame {
    border: 3px solid #193971;
    border-radius: 10px;
    padding: 15px;
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}


.tableauPlaceholder {
    margin: 0 auto;
}

.tableauPlaceholder object {
    width: 100% !important;
    display: block;
    margin: 0 auto;
}

.wordle-frame {
    text-align: center;
}

.play-link {
    font-size: 20px;
    font-weight: bold;
    color: #004cff;
    text-decoration: none;
}

.play-link:hover {
    text-decoration: underline;
}

.video-section iframe {
    display: block;
    margin: 0 auto;
}

